@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, main, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header {
  padding-top: 40px;
  background-color: #b0e8a7;
}
.header__wrapper {
  background-color: #419234;
  -webkit-box-shadow: 0 0 30px #419234;
          box-shadow: 0 0 30px #419234;
  -webkit-box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.15), 2px -1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.15), 2px -1px 2px rgba(0, 0, 0, 0.15);
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-bottom: 1.69%;
  max-width: 18.75em;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5em 6%;
  padding-right: 3%;
  font-size: 2.5rem;
  color: white;
}
.header__item {
  border-bottom: 2px solid;
}

.content {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 83.125rem;
  height: 100%;
}

.main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.25rem 3.125rem 1.25rem 3.75rem;
  background-color: #419234;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  max-width: 31.25rem;
}
.products__button {
  margin-right: 2.5rem;
  width: 2.1875rem;
  height: 2.1875rem;
  background: url("../img/arbus_shop/menu.png") no-repeat -1px -1px/2.1875rem 2.1875rem;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.25rem;
}
.products__item {
  -webkit-text-decoration: underline solid white 1px;
          text-decoration: underline solid white 1px;
}
.products__item_active {
  background-color: white;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-weight: 300;
  color: black;
  text-decoration: none;
}
.products__item a {
  display: inline-block;
  padding: 0.5625rem 0.4375rem;
  text-decoration: inherit;
}

.not-okey {
  margin-right: 1.875rem;
  width: 4.375rem;
  height: 4.875rem;
  background-color: #419234;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: relative;
}
.not-okey img {
  width: 1.6875rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-45%, -45%);
          transform: translate(-45%, -45%);
  -webkit-transform-origin: 28% 28%;
          transform-origin: 28% 28%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.not-okey:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main {
  background-color: #f0f0f0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.main__wrapper {
  padding-top: 1.54%;
  background-color: white;
  height: 100%;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  -webkit-box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.15), 2px 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.15), 2px 1px 2px rgba(0, 0, 0, 0.15);
}

.goodses {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.goods {
  padding: 7.69% 0 4.615%;
  border-bottom: 4px solid #f0f0f0;
}
.goods__wrapper {
  margin: 0 auto;
  max-width: 25.25rem;
}
.goods__title {
  margin-bottom: 6.19%;
  font-size: 1.625rem;
  font-weight: 300;
}
.goods__image {
  margin-bottom: 6.19%;
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  border: 2px solid #f0f0f0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.goods__image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.goods__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.goods__price {
  font-size: 1.875rem;
  font-weight: 300;
  font-style: italic;
}
.goods__cart {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/arbus_shop/cart.png") no-repeat 0 0/2.5rem 2.5rem;
}

.main__info {
  padding: 3.85% 2.31% 2.31%;
}

.main-info {
  font-weight: 300;
}
.main-info__address {
  padding-left: 28px;
  margin-bottom: 10px;
  position: relative;
}
.main-info__address::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/arbus_shop/address.png") no-repeat 0 0/20px 20px;
  top: 0;
  left: 0;
}
.main-info__schedule {
  padding-left: 28px;
  margin-bottom: 25px;
  position: relative;
}
.main-info__schedule::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/arbus_shop/schedule.png") no-repeat 0 0/18px 18px;
  top: 0;
  left: 0;
}
.footer {
  background-color: #f0f0f0;
  font-weight: 300;
}
.footer__wrapper {
  border-top: 4px solid #808080;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}
.footer__arbus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.contacts__phone {
  padding-left: 1.75rem;
  margin-bottom: 0.625rem;
  position: relative;
}
.contacts__phone::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/arbus_shop/phone.png") no-repeat 0 0/1.25rem 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
}
.contacts__email {
  padding-left: 1.75rem;
  position: relative;
}
.contacts__email::before {
  content: "";
  display: inline-block;
  width: 1.375rem;
  height: 1.25rem;
  background: url("../img/arbus_shop/email.png") no-repeat 0 0/1.375rem 1.25rem;
  position: absolute;
  top: -1px;
  left: -1px;
}