.test {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        height: 100vh;
    }
    &__container {
        background-color: #fff;
        width: 500px;
        height: 500px;
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__name-label {
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 500;
    }
    &__input-name {
        padding: 0 5px;
        margin-bottom: 15px;
        width: 200px;
        height: 40px;
        border-radius: 2px;
        border: 2px solid #419234;
        background-color: #b0e8a7;
        font-size: 20px;
        font-weight: 500;
    }
    &__tel-label {
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 500;
    }
    &__input-tel {
        padding: 0 5px;
        margin-bottom: 30px;
        width: 200px;
        height: 40px;
        border-radius: 2px;
        border: 2px solid #419234;
        background-color: #b0e8a7;
        font-size: 20px;
        font-weight: 500;
    }
    &__submit {
        font-size: 25px;
        font-weight: 500;
        color: #fff;
        width: 150px;
        height: 35px;
        border-radius: 2px;
        background-color: #419234;
    }
}
